
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.min.js" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" />
    <script src="https://kit.fontawesome.com/7e3df59c36.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var current = angular.module('AppMain', []);

    current.controller('AdminController', ['$scope', function ($scope) {
        $scope.currentPageName = window.location.pathname;        
        $scope.Employee = @Html.Raw(Json.Encode(Model));
        $scope.completed = false;

    }]);

    </script>
</head>
<body ng-app="AppMain" ng-controller="AdminController">
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <h5 class="navbar-brand" href="#">Parking</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employees</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Employees/Index">Employees list</a>
                        <a class="dropdown-item" href="~/Employees/Create">Create/Add new</a>                        
                        <a class="dropdown-item" href="#">Configuration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>              
                @*<li class="nav-item">
                    <a class="nav-link" href="~/Employees/Index">Employees</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" href="#">Lots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Available parking lots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Non-in-use parking lots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Business reserved parking lots</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
</body>
</html>
